$fira:  'Fira Sans', Verdana, Geneva, Tahoma, sans-serif;
$Crimson: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;

.ProjectCard__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.ProjectCard{
  background-color: #e3dfd9;
  border: solid 1px #c2bcb2;
  display: flex;
}

.ProjectCard__background{
  width: 300px;
  height: 1fr;
  margin-right: 1.11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    padding: 1rem;
  }
}

.ProjectCard__children{
  flex-direction: column;
  padding-right: 1.5rem;
  h2{
    margin-top: 1.5rem;
    text-transform: uppercase;
  }
}

.ProjectCard__btn{
  color: #fff;
  font-family: $fira;
  text-decoration: none;

  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 2rem;
}